
// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/utilities";

$body-bg: #000;
$body-color: #111;

// Bootstrap and its default variables
//@import "../../node_modules/bootstrap/scss/bootstrap";

//@font-face {
//    font-family: OpenSans;
//    src: url('../fonts/OpenSans-Regular.ttf');
//}

body {
    color: gray;
}
